In [13]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score

In [25]:
data=pd.read_csv('train.csv')

In [26]:
data.shape

(891, 12)

In [27]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [28]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [32]:
from sklearn.utils import shuffle
data=shuffle(data,random_state=42)

div=int(data.shape[0]/4)

train=data.loc[:3*div+1,:]
test=data.loc[3*div+1:]
train.shape,test.shape

((621, 12), (271, 12))

In [33]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
709,710,1,3,"Moubarek, Master. Halim Gonios (""William George"")",male,NaN,1,1,2661,15.2458,NaN,C
439,440,0,2,"Kvillner, Mr. Johan Henrik Johannesson",male,31.0,0,0,C.A. 18723,10.5000,NaN,S
840,841,0,3,"Alhomaki, Mr. Ilmari Rudolf",male,20.0,0,0,SOTON/O2 3101287,7.9250,NaN,S
720,721,1,2,"Harper, Miss. Annie Jessie ""Nina""",female,6.0,0,1,248727,33.0000,NaN,S
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.0,1,0,2651,11.2417,NaN,C

In [34]:
test.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
667,668,0,3,"Rommetvedt, Mr. Knud Paust",male,NaN,0,0,312993,7.7750,NaN,S
571,572,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0,2,0,11769,51.4792,C101,S
636,637,0,3,"Leinonen, Mr. Antti Gustaf",male,32.0,0,0,STON/O 2. 3101292,7.9250,NaN,S
714,715,0,2,"Greenberg, Mr. Samuel",male,52.0,0,0,250647,13.0000,NaN,S
262,263,0,1,"Taussig, Mr. Emil",male,52.0,1,1,110413,79.6500,E67,S

In [57]:
test['simple_mode']=train['Survived'].mode()[0]
test['simple_mode'].head()

C:\ANACONDA\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

667    0
571    0
636    0
714    0
262    0
Name: simple_mode, dtype: int64

In [42]:
simple_mode_accuracy = accuracy_score(test['Survived'],test['simple_mode'])
simple_mode_accuracy

0.6346863468634686

In [58]:
#based on gender
gender_mode=pd.crosstab(train['Survived'],train['Sex'])
gender_mode

Sex       female  male
Survived
0             57   321
1            167    76

In [59]:
test['gender_mode'] = test['Survived']
for i in test['Sex'].unique():
    test['gender_mode'][test['Sex']==str(i)] =train['Survived'][train['Sex']==str(i)].mode()[0]

C:\ANACONDA\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ANACONDA\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [62]:
gender_accuracy = accuracy_score(test['Survived'],test['gender_mode'])
gender_accuracy

0.7896678966789668

In [63]:
#based on Pclass
class_mode = pd.crosstab(train['Survived'],train['Pclass'])
class_mode

Pclass     1   2    3
Survived
0         50  66  262
1         97  65   81

In [64]:
test['class_mode']=test['Survived']
for i in test['Pclass'].unique():
    test['class_mode'][test['Pclass']==str(i)] =train['Survived'][train['Pclass']==str(i)].mode()[0]

C:\ANACONDA\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ANACONDA\lib\site-packages\pandas\core\ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

IndexError: index out of bounds

In [65]:
class_accuracy = accuracy_score(test['Survived'],test['Pclass'])
class_accuracy

0.14391143911439114

In [66]:
Id_mode = pd.crosstab(train['Survived'],train['PassengerId'])
Id_mode

PassengerId,1,3,4,6,7,8,9,10,11,12,...,880,881,882,883,885,886,887,889,890,891
Survived,,,,,,,,,,,,,,,,,,,,,
0,1,0,0,1,1,1,0,0,0,0,...,0,0,1,1,1,1,1,1,0,1
1,0,1,1,0,0,0,1,1,1,1,...,1,1,0,0,0,0,0,0,1,0

In [68]:
test['Id_mode']=test['Survived']
for i in PassengerId.unique():
    test['Id_mode'][test['Survived']==str(i)]=train['Survived'][test['PassengerId']==str(i).mode()[0]]

C:\ANACONDA\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

NameError: name 'PassengerId' is not defined

In [69]:
Id_accuracy= accuracy_score(test['Survived'],test['Id_mode'])
Id_accuracy

1.0